.root-pane {
    -fx-background-color: white;
    -fx-background-image: url("corner.png");
    -fx-background-position: top left;
    -fx-background-repeat: no-repeat;
    -fx-padding: 70px 50px 50px 50px;
    -fx-spacing: 10px;
    -fx-font-family: serif;
}
.hbox,
.vbox {
    -fx-spacing: 10px;
}
.table-view {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}
.list-view,
.list-view:focused {
    -fx-background-color: null;
}
.list-view .scroll-bar, 
.list-view .scroll-bar .track {
    -fx-background-color: null;
}
.list-view .scroll-bar .increment-button,
.list-view .scroll-bar .decrement-button {    
    -fx-background-color: null;
}
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {    
    -fx-padding: 0em 0.5em 0em 0.5em;
}
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {    
    -fx-padding: 0.5em 0em 0.5em 0em;
}
.list-view .scroll-bar .increment-button .increment-arrow,
.list-view .scroll-bar .decrement-button .decrement-arrow {
    -fx-background-color: null;
    -fx-padding: 0em;
}
.label,
.text {
    -fx-font-size: 1.4em;    
    -fx-text-fill: black;
}
.main-text {
    -fx-font-size: 3.0em;        
}
.text-field:error {
    -fx-base: tomato;
}
.character-info {
    -fx-padding: 10px;
    -fx-font-size: 1.4em;   
    -fx-background-color: white;
    -fx-background-image: url("corner-gray.png");
    -fx-background-position: top left;
    -fx-background-repeat: no-repeat;
    -fx-alignment: CENTER;
}
.character-info .main-text{
    -fx-font-size: 2.0em;
}
.character-info .guild-info {
    -fx-opacity: 0.33;
}
.character-info .profession-race-info {
    -fx-font-size: 1.0em;
    -fx-opacity: 0.5;
}
.character-info .portrait-box {
    -fx-background-color: black, gray;
    -fx-background-insets: 0px, 1px;
}
.list-cell,
.list-cell:selected {
    -fx-background-color: null;
    -fx-padding: 0px;
}
.list-cell:selected .character-info {
   -fx-background-image: url("corner-blue.png");
 }
